@model List<AcunMedyaPortfolyoProje1.Models.Tbl_Skills>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Skill ID</th>
                <th>Yetenek İsmi</th>
                <th>Derece</th>
                <th>Description</th>

                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SkillID</td>
                    <td>@item.SkillName</td>
                    <td>@item.Derece</td>
                    <td>@item.Description</td>

                    <td><a href="/Skills/UpdateSkills/@item.SkillID" class="btn btn-success">Güncelle</a></td>
                    <td><a href="/Skills/RemoveSkills/@item.SkillID" class="btn btn-danger">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Skills/CreateSkills/" class="btn btn-secondary">Oluştur</a>
</div>